@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.eot');
    src: local(''),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.woff') format('woff'),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.svg#Roboto') format('svg');

}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.eot');
    src: local(''),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.woff2') format('woff2'),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.woff') format('woff'),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.ttf') format('truetype'),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.svg#Roboto') format('svg');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.eot');
    src: local(''),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.woff') format('woff'),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.svg#Roboto') format('svg');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.eot');
    src: local(''),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.woff2') format('woff2'),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.woff') format('woff'),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.ttf') format('truetype'),
        url('../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.svg#Roboto') format('svg');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v28-latin-700.eot');
    src: local(''),
        url('../fonts/raleway-v28-latin-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-v28-latin-700.woff2') format('woff2'),
        url('../fonts/raleway-v28-latin-700.woff') format('woff'),
        url('../fonts/raleway-v28-latin-700.ttf') format('truetype'),
        url('../fonts/raleway-v28-latin-700.svg#Raleway') format('svg');
}

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --black-color:#000000;
    --background-primary-color: #F5F4FA;
    --footer-text-color:rgba(255, 255, 255, 0.6);
    --background-hero-footer-color:#2F303A;
    --background-btn-hero: rgba(0, 0, 0, 0.15);
    --background-subsection-portfolio: #EEEEEE;
    --background-portfolio: #F5F5F5;
    --background-icon-footer: rgba(255, 255, 255, 0.1);
    --border-client: #AFB1B8;
    --fill-client: #AFB1B8;
    --background-hero: rgba(47, 48, 58, 0.4);
    --background-item-card:rgba(47, 48, 58, 0.8);
    --background-card: rgba(33, 150, 243, 0.9);
    --backgroun-form-input-border: rgba(33, 33, 33, 0.2);
}

body {
    background: var(--white-color);
    color: var(--primary-text-color) ;
    
    font-family: 'Roboto','Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

a {
    text-decoration: none;
}

.button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: 1px solid transparent;
    min-width: 216px;
    min-height: 50px;
    padding: 10px 32px;
    /* outline: 2px solid tomato; */
    box-shadow: 0px 4px 4px var(--background-btn-hero);
    color: var(--white-color);
    background-color: var(--accent-color);

    cursor: pointer;
}



.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* header */

.container-header {
    width: 1200px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header{
    background-color: var(--white-color);
    /* border: 1px solid var(--background-primary-color); */
}

.page-header.portfolio-link {
    border: 1px solid var(--background-primary-color);
}

.menu {
    display: flex;
    align-items: center;
}

.page-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    /* outline: 2px solid tomato; */
    color: var(--black-color);
    margin-right: 93px;
}

.logo {
    color: var(--accent-color);
}

.link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    /* outline: 2px solid tomato; */
    color: var(--primary-text-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.item-mail,
.item-tel {
    margin: 0 10px 0 0;
    display: inline-block;
}

.site-nav {
    display: flex;
    align-items: center;
}

.site-nav .item + .item {
    margin-left: 50px;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.current.link {
    position: relative;
    padding: 32px 0;
}

.current.link::after {
    content: '';

    width: 100%;
    height: 4px;
    border-radius: 2px;

    position: absolute;
    bottom: 0;
    left: 0;
    
    background-color: var(--accent-color);
    opacity: 1;
}

.auth-nav {
    display: flex;
}

.auth-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    /* outline: 2px solid tomato; */
    color: var(--title-text-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-link:hover,
.auth-link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}

.auth-nav .item+.item {
    margin-left: 50px;
}

.auth-nav-icon{
    margin: 0 10px 0 0;
}

.auth-nav-icon {
    display: inline-block;
}




/* main */

.page-main {
    background-color: var(--white-color);
}
/* section hero */

.hero {
    background-color: var(--background-hero-footer-color);
    /* outline: 2px solid tomato; */
    background-image: linear-gradient(
        to right,
        var(--background-hero),
        var(--background-hero)
    ),
    url(../img/hero-title.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;  
}

.container-hero {
    text-align: center;
        
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 600px;    
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    /* outline: 2px solid tomato; */
    color: var(--white-color);
    max-width: 696px;
    margin: 0 0 30px;
}


.btn-hero {    
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: 1px solid transparent;
    min-width: 216px;
    min-height: 50px;
    padding: 10px 32px;    
    align-items: center;    
    /* outline: 2px solid tomato; */    
    box-shadow: 0px 4px 4px var(--background-btn-hero);
    color: var(--white-color);
    background-color: var(--accent-color);

    cursor: pointer;
}

.section-title {
    font-weight: 700;
    font-size: inherit;
    line-height: 1.14;
    letter-spacing: 0.03em;
    /* outline: 2px solid tomato; */
    color: var(--primary-text-color);
    margin: 0 0 10px;
}
/* section info */

.section-info {
    padding: 94px 0;
}

.container-info {
    padding: 94px 0 ;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.info {
    display: flex;
}

.info .section-text+.section-text {
    margin-left: 30px;
}
/* section visual */

.section-visual {
    padding: 0 0 94px;
}

.container-visual {
    padding: 0 0 94px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.main-img {
    display: flex;
}

.img-item {
    display: block;
    position: relative;
}

.main-img .visual-card+.visual-card {
    margin-left: 30px;
}

.subsection {
    letter-spacing: 0.03em;
    /* outline: 2px solid tomato; */
    color: var(--title-text-color);
    margin: 0;
}

.visual-card {
    position: relative;
}

.visual-card-text {
    position: absolute;
    margin: 0;
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    background-color: var(--background-item-card);
    color: var(--white-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

/* section teem */

.section-teem {
    background-color: var(--background-primary-color);
    padding: 94px 0;
    /* outline: 3px solid tomato; */
}

.container-teem {
    width: 1200px;
    padding: 94px 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    /* outline: 3px solid tomato; */

}

.title-page,
.title-teem {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    /* outline: 2px solid tomato; */
    color: var(--primary-text-color);
    margin-top: 0;
    margin-bottom: 50px;
}


.teem-page {
    display: flex;
    /* outline: 3px solid tomato; */
}

.item-teem{
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    /* outline: 3px solid tomato; */
}

.teem-page .item-teem+.item-teem {
    margin-left: 30px;
    /* outline: 3px solid tomato; */
}

.section-teem-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    /* outline: 2px solid tomato; */
    color: var(--primary-text-color);
    margin: 0 0 10px;
}

.subsection-teem {
    font-weight: inherit;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    /* outline: 2px solid tomato; */
    color: var(--title-text-color);
    margin: 0;    
}

.container-item {
    padding: 30px 0;
}
/* section-client */

.section-client {
    padding: 94px 0;
}

.container-client {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    /* outline: 2px solid tomato; */
}

.client-text {
    margin: 0 0 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

}

.client-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.client-item {
    width: 170px;
    height: 92px;
    
}

.client-link {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 1px solid var(--border-client);
    border-radius: 4px;
    fill: var(--fill-client);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.client-item :hover,
.client-item :focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}    

/* footer */

.page-footer {
    background-color: var(--background-hero-footer-color);
    padding: 60px 0;
    /* outline: 3px solid tomato; */
}

.container-footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    display: flex;
    /* outline: 3px solid tomato; */
}

.page-logo-end {
    font-weight: 700;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    /* outline: 2px solid tomato; */
    color: var(--white-color);
    margin: 0 0 20px;
    display: inline-block;
}

.adrs {
    font-style: normal;
    font-weight: inherit;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    /* outline: 2px solid tomato; */
    color: var(--white-color);
    display: inline-block;
    min-width: 231px;
}

.mail,
.tel {
    font-style: normal;
    font-weight: inherit;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    /* outline: 2px solid tomato; */
    color: var(--footer-text-color);
    display: inline-block;
    min-width: 231px;
}

.adrs {
    margin: 0 0 9px;
}

.mail {
    margin: 0 0 9px;
}

.tel {
    margin: 0;
}

.form-footer {
    margin: 12px 0 0 0;
}

.form-footer-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);

}

.form-footer-input {
    width: 358px;   
    height: 50px;

    background-color: var(--background-hero-footer-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    padding: 15px 16px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
}

.form-footer-link {
    display: flex;
    gap: 12px;

    margin: 20px 0 0 0;
}

.form-footer-btn {
    height: 50px;
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    fill: var(--white-color);
}

/* portfolio */

.section-portfolio {
    padding: 94px 0;
    background-color: var(--white-color);
    /* outline: 3px solid tomato; */
}

.container-portfolio {
    padding: 94px 0;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    /* outline: 3px solid tomato; */
}

.menu-portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 56px;
    /* outline: 3px solid tomato; */
}

.menu-portfolio .nav-menu+.nav-menu {
    margin-left: 8px;
    /* outline: 3px solid tomato; */
}

.btn-portfolio {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: 1px solid var(--background-subsection-portfolio);
    /* outline: 2px solid tomato; */
    color: var(--primary-text-color);
    background-color: var(--background-primary-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;
    padding: 6px 22px;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--accent-color);
    /* outline: 3px solid tomato; */
}

.portfolio-nav {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}

.subdivision-portfolio {
    border: 1px solid var(--background-subsection-portfolio);
    background-color: var(--white-color);
    /* outline: 3px solid tomato; */
    flex-basis: calc((100% - 60px)/ 9);
    max-width: 370px;

}

.subdivision-portfolio:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06), 
                1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section-portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    /* outline: 2px solid tomato; */
    color: var(--primary-text-color);
    margin: 0;
    max-width: 322px;    
}

.subsection-portfolio {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    /* outline: 2px solid tomato; */
    color: var(--title-text-color);
    margin: 0;
    
    
}

.subdivision-portfolio-thumb {
    position: relative;

    overflow: hidden;
}

.subdivision-overlay {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    
    color: var(--white-color);
    background-color: var(--background-card);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    
}

.subdivision-portfolio:hover .subdivision-overlay {
    transform: translateY(0);
}

.img-portfolio  {
    display: block;
}

.container-portfolio-item {
    padding: 20px 24px ;
}

/* icon */
.feature {    
    margin: 12px 93px 0 70px;
    /* outline: 2px solid tomato;    */
}

.feature-card {
    margin: 0 0 20px ;
}

.feature-text {
    color: var(--white-color);
    font-weight: 700;
    line-height: 1.42;
    letter-spacing: 0.03em;
    margin: 0 0 20px;
}

.feature-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature-link {
    width: 44px;
    height: 44px;
}   

.feature-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--white-color);
    background-color: var(--background-icon-footer);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.feature-link :hover,
.feature-link :focus {
    background-color: var(--accent-color) ;
    border-radius: 50%;
}

.container-icon {
    width: 270px;   
    height: 120px;
    background-color: var(--background-primary-color);
    display: flex;
    align-items: center;
    justify-content:center ;
    margin: 0 0 30px;
}

.social-link {
    width: 44px;
    height: 44px;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin: 16px 0 0 0 ;
}

.social-icons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--fill-client);
    background-color: var(--white-color);
    transition-duration: 250ms;
    transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link :hover,
.social-link :focus {
    fill: var(--white-color);
    background-color: var(--accent-color);
    border-radius: 50%;
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0 ,0 ,0 ,0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 222px 0;

    height: 100%;
}

.modal-container {
    background-color: var(--white-color);
    position: relative;
    width: 100%;

    max-width: 528px;
    max-height: 581px;

    padding: 40px;

}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--white-color);
    border: 1px solid var(--border-client);
    fill: var(--black-color);

    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    
    text-align: center;
    margin: 8px 8px 0 0;
    border-radius: 50%;
}

.btn-modal:focus,
.btn-modal:hover {
    fill: var(--accent-color);

    transition-duration: 250ms;
    transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* form */
.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    margin: 0;
    text-align: center;

    color: var(--primary-text-color);
    margin-bottom: 12px;
}

.form-field {
    position: relative;

    margin-bottom: 10px;
}

.form-field-label {
    display: block;
    margin-bottom: 4px;
    
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;


}

.form-field-input {
    width: 100%;
    height: 40px;

    border: 1px solid var(--backgroun-form-input-border);
    border-radius: 4px;
    padding: 0 12px 0 42px;

    outline: none;
}

.form-field-input:focus {
    border-color: var(--accent-color);
}

.form-field-icon {
    position: absolute;

    top: 50%;
    left: 12px;

    transform: translateY(-50%);
}

.form-field-input:focus + .form-field-icon {
    fill: var(--accent-color);
}

.form-textarea{
    margin-bottom: 20px;
}

.form-field-textarea {
    width: 100%;
    height: 120px;

    border: 1px solid var(--backgroun-form-input-border);
    border-radius: 4px;
    padding: 12px 16px;

    outline: none;

    resize: none;
}

.form-field-textarea:focus {
    border-color: var(--accent-color);
}

.form-field-textarea::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
    margin: 0 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-input {
    appearance: none;
    
}

.checkbox-label {
    padding-left: 24px;
    position: relative;
    cursor: pointer;

}

.checkbox-icon {
    display: block;
    border: 2px solid var(--black-color);
    fill: transparent;
    border-radius: 2px;
    margin: -17px ;
}

.checkbox-input:checked + .checkbox-icon {
    fill: var(--white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.form-submit {
    display: block;
    margin: 0 auto;
}

.checkbox-link {
    color: var(--accent-color);

    text-decoration: underline;
}



