.header__container {
    width: 1200px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
            &__nav {
                display: flex;
                align-items: center;
            }
        
            &__logo {
                font-family: 'Raleway';
                font-weight: 700;
                font-size: 26px;
                line-height: 1.19;
                letter-spacing: 0.03em;
                /* outline: 2px solid tomato; */
                color: var(--black-color);
                margin-right: 93px;
            }
        
            .logo {
                color: var(--accent-color);
            }
        
            &__link {
                font-weight: 500;
                line-height: 1.14;
                letter-spacing: 0.02em;
                /* outline: 2px solid tomato; */
                color: var(--primary-text-color);
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
            }
        
        
            &__site-nav {
                display: flex;
                align-items: center;
            }
        
            &__site-nav .menu__item+.menu__item {
                margin-left: 50px;
            }
        
            &__link:hover,
            &__link:focus {
                color: var(--accent-color);
        }
        .current.menu__link {
            position: relative;
            padding: 32px 0;
        }
        
        .current.menu__link::after {
            content: '';

            width: 100%;
            height: 4px;
            border-radius: 2px;

            position: absolute;
            bottom: 0;
            left: 0;

            background-color: var(--accent-color);
            opacity: 1;
        }
    }

    .auth-nav{
        &__nav {
                display: flex;
            }
        
        &__link {
            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.02em;
            /* outline: 2px solid tomato; */
            color: var(--title-text-color);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        &__link:hover,
        &__link:focus {
            color: var(--accent-color);
            fill: var(--accent-color);
        }
    
        &__nav .auth-nav__item+.auth-nav__item {
            margin-left: 50px;
        }
    
        &__icon {
            margin: 0 10px 0 0;
            display: inline-block;
        }
    }
        
}

.hero__container {
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 600px;

    .hero {
        &__title {
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            letter-spacing: 0.06em;
            /* outline: 2px solid tomato; */
            color: var(--white-color);
            max-width: 696px;
            margin: 0 0 30px;
        }
        &__btn {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.9;
            letter-spacing: 0.06em;
            border-radius: 4px;
            border: 1px solid transparent;
            min-width: 216px;
            min-height: 50px;
            padding: 10px 32px;
            align-items: center;
            /* outline: 2px solid tomato; */
            box-shadow: 0px 4px 4px var(--background-btn-hero);
            color: var(--white-color);
            background-color: var(--accent-color);

            cursor: pointer;
        }
    }
}

.about__container {
    padding: 94px 0;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    .about{
        &__info {
            display: flex;
        }
    
        &__info .about__item+.about__item {
            margin-left: 30px;
        }
    
        &__icon {
            width: 270px;
            height: 120px;
            background-color: var(--background-primary-color);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 30px;
        }
    
        &__title {
            font-weight: 700;
            font-size: inherit;
            line-height: 1.14;
            letter-spacing: 0.03em;
            /* outline: 2px solid tomato; */
            color: var(--primary-text-color);
            margin: 0 0 10px;
        }
    
        &__subsection {
            letter-spacing: 0.03em;
            /* outline: 2px solid tomato; */
            color: var(--title-text-color);
            margin: 0;
        }
    }
    
}

.visual__container {
    padding: 0 0 94px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    .visual__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        /* outline: 2px solid tomato; */
        color: var(--primary-text-color);
        margin-top: 0;
        margin-bottom: 50px;
    }

    .visual{
        &__img {
            display: flex;
        }

        &__img .visual__card+.visual__card {
            margin-left: 30px;
        }


        &__card {
            position: relative;
        }

        &__text {
            position: absolute;
            margin: 0;

            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            bottom: 0;
            left: 0;
            width: 100%;
            height: 70px;

            background-color: var(--background-item-card);
            color: var(--white-color);

            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
        }
    }
    
    .img-item {
        display: block;
        position: relative;
    }
}

.teem__container {
    width: 1200px;
    padding: 94px 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    /* outline: 3px solid tomato; */
    .teem {
        &__title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            letter-spacing: 0.03em;
            /* outline: 2px solid tomato; */
            color: var(--primary-text-color);
            margin-top: 0;
            margin-bottom: 50px;
        }
        &__page {
            display: flex;
            /* outline: 3px solid tomato; */
        }
        &__item {
            background-color: var(--white-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
            /* outline: 3px solid tomato; */
        }
    
        &__page .teem__item+.teem__item {
            margin-left: 30px;
            /* outline: 3px solid tomato; */
        } 
        &__name {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            letter-spacing: 0.03em;
            /* outline: 2px solid tomato; */
            color: var(--primary-text-color);
            margin: 0 0 10px;
        }
        &__profession {
            font-weight: inherit;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            letter-spacing: 0.03em;
            /* outline: 2px solid tomato; */
            color: var(--title-text-color);
            margin: 0;
        }
        &__profil {
            padding: 30px 0;
        }
    }
    
    .social {
        &__link {
            width: 44px;
            height: 44px;
        }
    
        &__list {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
    
            margin: 16px 0 0 0;
        }
    
        &__icons {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            fill: var(--fill-client);
            background-color: var(--white-color);
            transition-duration: 250ms;
            transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        &__link :hover,
        &__link :focus {
            fill: var(--white-color);
            background-color: var(--accent-color);
            border-radius: 50%;
        }
    }
}

.client__container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    /* outline: 2px solid tomato; */
    
    .client {
        &__title {
            margin: 0 0 50px;
            text-align: center;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            letter-spacing: 0.03em;

        }

        &__list {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }

        &__item {
            width: 170px;
            height: 92px;

        }

        &__link {
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            border: 1px solid var(--border-client);
            border-radius: 4px;
            fill: var(--fill-client);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }


        &__item :hover,
        &__item :focus {
            fill: var(--accent-color);
            border: 1px solid var(--accent-color);
        }
    }   
}

.footer__container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    display: flex;
    /* outline: 3px solid tomato; */
    .address__logo {
            font-weight: 700;
            font-family: 'Raleway';
            font-size: 26px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            /* outline: 2px solid tomato; */
            color: var(--white-color);
            margin: 0 0 20px;
            display: inline-block;
        }
    
        .logo {
            color: var(--accent-color);
        }
        .adrs {
            font-style: normal;
            font-weight: inherit;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            /* outline: 2px solid tomato; */
            color: var(--white-color);
            display: inline-block;
            min-width: 231px;
        }
    
        .mail,
        .tel {
            font-style: normal;
            font-weight: inherit;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            /* outline: 2px solid tomato; */
            color: var(--footer-text-color);
            display: inline-block;
            min-width: 231px;
        }
    
        .adrs {
            margin: 0 0 9px;
        }
    
        .mail {
            margin: 0 0 9px;
        }
    
        .tel {
            margin: 0;
        }

        .feature {
            margin: 12px 93px 0 70px;
            /* outline: 2px solid tomato; */
            &__card {
                    margin: 0 0 20px;
                }
            
            &__text {
                color: var(--white-color);
                font-weight: 700;
                line-height: 1.42;
                letter-spacing: 0.03em;
                margin: 0 0 20px;
            }
        
            &__container {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        
            &__link {
                width: 44px;
                height: 44px;
            }
        
            &__item {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                fill: var(--white-color);
                background-color: var(--background-icon-footer);
        
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
        
        
            &__link :hover,
            &__link :focus {
                background-color: var(--accent-color);
                border-radius: 50%;
            }
        }

        .form-footer {
        margin: 12px 0 0 0;
                
        &__label {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        
            color: var(--white-color);
        
        }
        
        &__input {
            width: 358px;
            height: 50px;
        
            background-color: var(--background-hero-footer-color);
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
        
            padding: 15px 16px;
            color: rgba(255, 255, 255, 0.6);
            font-size: 16px;
            line-height: 1.25;
        }
        
        &__link {
            display: flex;
            gap: 12px;
        
            margin: 20px 0 0 0;
        }
        
        &__btn {
            height: 50px;
            width: 200px;
        
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        
            fill: var(--white-color);
        }
        }
}

.header-portfolio__container {
    width: 1200px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        /* outline: 2px solid tomato; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .menu {
            &__nav {
                display: flex;
                align-items: center;
            }
    
            &__logo {
                font-family: 'Raleway';
                font-weight: 700;
                font-size: 26px;
                line-height: 1.19;
                letter-spacing: 0.03em;
                /* outline: 2px solid tomato; */
                color: var(--black-color);
                margin-right: 93px;
            }
    
            .logo {
                color: var(--accent-color);
            }
    
            &__link {
                font-weight: 500;
                line-height: 1.14;
                letter-spacing: 0.02em;
                /* outline: 2px solid tomato; */
                color: var(--primary-text-color);
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            }
    
    
            &__site-nav {
                display: flex;
                align-items: center;
            }
    
            &__site-nav .menu__item+.menu__item {
                margin-left: 50px;
            }
    
            &__link:hover,
            &__link:focus {
                color: var(--accent-color);
            }
    
            .current.menu__link {
                position: relative;
                padding: 32px 0;
            }
    
            .current.menu__link::after {
                content: '';
    
                width: 100%;
                height: 4px;
                border-radius: 2px;
    
                position: absolute;
                bottom: 0;
                left: 0;
    
                background-color: var(--accent-color);
                opacity: 1;
            }
        }
    
        .auth-nav {
            &__nav {
                display: flex;
            }
    
            &__link {
                font-weight: 500;
                line-height: 1.14;
                letter-spacing: 0.02em;
                /* outline: 2px solid tomato; */
                color: var(--title-text-color);
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
    
            &__link:hover,
            &__link:focus {
                color: var(--accent-color);
                fill: var(--accent-color);
            }
    
            &__nav .auth-nav__item+.auth-nav__item {
                margin-left: 50px;
            }
    
            &__icon {
                margin: 0 10px 0 0;
                display: inline-block;
            }
        }
}

.portfolio__container {
    padding: 94px 0;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    /* outline: 3px solid tomato; */

    .nav-menu{
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            /* outline: 3px solid tomato; */
        }
    
        &__item .nav-menu__link+.nav-menu__link {
            margin-left: 8px;
            /* outline: 3px solid tomato; */
        }
    
        &__btn {
            margin: 0 0 50px 0;
    
            font-weight: 500;
            font-size: 16px;
            line-height: 1.63;
            text-align: center;
            letter-spacing: 0.03em;
            border-radius: 4px;
            border: 1px solid var(--background-subsection-portfolio);
            /* outline: 2px solid tomato; */
            color: var(--primary-text-color);
            background-color: var(--background-primary-color);
    
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            cursor: pointer;
            padding: 6px 22px;
        }
    
        &__btn:hover,
        &__btn:focus {
            background-color: var(--accent-color);
            color: var(--white-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
            border: 1px solid var(--accent-color);
            /* outline: 3px solid tomato; */
        }
    }
    
    .portfolio-card {
        &__item {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
    
        }
    
        &__list {
            border: 1px solid var(--background-subsection-portfolio);
            background-color: var(--white-color);
            /* outline: 3px solid tomato; */
            flex-basis: calc((100% - 60px)/ 9);
            max-width: 370px;
    
        }
    
        &__list:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    
        &__title {
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
            /* outline: 2px solid tomato; */
            color: var(--primary-text-color);
            margin: 0;
            max-width: 322px;
        }
    
        &__subsection {
            font-size: 16px;
            line-height: 1.9;
            letter-spacing: 0.03em;
            /* outline: 2px solid tomato; */
            color: var(--title-text-color);
            margin: 0;
    
    
        }
    
        &__thumb {
            position: relative;
    
            overflow: hidden;
        }
    
        &__overlay {
            position: absolute;
    
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
    
            transform: translateY(100%);
            transition: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    
            color: var(--white-color);
            background-color: var(--background-card);
    
            font-weight: 400;
            font-size: 18px;
            line-height: 1.56;
            letter-spacing: 0.03em;
            padding: 63px 24px;
    
        }
    
        &__list:hover .portfolio-card__overlay {
            transform: translateY(0);
        }
    
        
    
        &__name {
            padding: 20px 24px;
        }
    }

    .img-portfolio {
        display: block;
    }
}

.modal__container {
    background-color: var(--white-color);
    position: relative;
    width: 100%;

    max-width: 528px;
    max-height: 581px;

    padding: 40px;

}